.button {
    display: block;    
    padding-bottom: 13px;
        
    text-align: center;
    line-height: 0;
    border-radius: 20px;

    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: $white;
    cursor: pointer;
    transition: all ease 0.5s;    

    &.disabled,
    &:disabled {
        cursor: default;
        opacity: 0.5;
        background-color: $white;
    }

    &--black {
        background-color: $black;

        &:hover,
        &:focus,
        &:active {
            background-color: lighten($color: $black, $amount: 20%);
        }
    }

    &--red {
        background-color: $red;
        &:hover,
        &:focus,
        &:active {
            background-color: lighten($color: $red, $amount: 10%);
        }
    }

    &__next {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("../img/icons/right-arrow.png");
        background-repeat: no-repeat;
        margin-top: 3px;
        cursor: pointer;
    }

    &__prev {
        display: block;
        position: absolute;
        transform: rotate(180deg);
        width: 36px;
        height: 36px;
        background-image: url("../img/icons/right-arrow.png");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        top: 284px;
        left: 215px;
    }
}