.content {
    max-width: 1170px;
    margin: 0 auto;

    &__bg {
        background-color: $white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0.5px 0.866px 20px 0px rgba(0, 0, 0, 0.25);          
    }
}