.next-project {

    &__info {
        padding-right: 25px;
    }

    &__title {
        font-family: '', Arial, sans-serif;
        font-weight: 700;
        font-size: 26px;
        text-transform: uppercase;
        padding-right: 25px;
        margin-top: -15px;
    }
}