/*@font-face {
    font-family: "LatoRegular";
    src: 
    url("../fonts/LatoRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoBold";
    src: 
    url("../fonts/LatoBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoItalic";
    src: 
    url("../fonts/LatoItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoLight";
    src: 
    url("../fonts/LatoLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}*/
